/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

.page {
  margin: 0 auto;
  overflow-x: hidden;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 360px;
}

.decorated-zone {
  position: relative;
  min-block-size: 100vh;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  padding-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-item {
  color: var(--decor-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1;
  text-align: center;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 13px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--decor-color);
  outline-offset: 1px;
}

.header__theme-menu-pseudo::before {
  content: "REC";
  position: absolute;
  top: 20px;
  right: 50px;
  color: var(--pseudo-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.4;
}

.header__theme-menu-pseudo::after {
  content: var(--pseudo-content);
  position: absolute;
  top: 22px;
  right: 24px;
}

.title {
  margin-block-start: 276px;
  color: var(--title-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  line-height: 0.8;
  text-shadow: 4px 4px 0px var(--shadow-color);
}

.title-text {
  margin: 118px 22px 134px auto;
  max-inline-size: 491px;
}

.title-decor {
  color: #000028;
  font-family: var(--main-font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}

.concentration {
  display: flex;
  padding-block-start: 60px;
}

.concentration-title {
  margin-inline-start: 20px;
  color: var(--section-headings-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
  max-inline-size: 314px;
}

.concentration-description {
  margin-inline-start: auto;
  margin-inline-end: 20px;
  max-inline-size: 650px;
}

.research-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.research-link:hover {
  text-decoration: underline;
}

.research-link:focus {
  outline: 1px solid var(--text-color);
  text-decoration: none;
}

.title-decor {
  margin-block-end: 10px;
  font-family: var(--main-font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
  background-color: var(--accent-color);
}

.description-text {
  margin-block-end: 20px;
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}

.description-text:last-child {
  margin-block-end: 0;
}

.concentration-reduces {
  padding-block-start: 80px;
  padding-block-end: 80px;
}

.container-concentration {
  display: flex;
  gap: 20px;
  margin-block-start: 20px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.container-concentration__column {
  flex-direction: column;
  gap: 10px;
  inline-size: 100%;
}

.concentration-methods {
  display: flex;
}

.container-methods {
  margin-inline-start: auto;
  margin-inline-end: 20px;
  max-inline-size: 650px;
}

.description-methods-main__title {
  margin-block-end: 20px;
}

.description-methods__title {
  font-weight: 400;
}

.concentration-picture {
  padding-block-start: 80px;
}

.concentration-picture__title {
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  margin-block-start: 0px;
  margin-block-end: 20px;
}

.container-picture {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street"
    "tape street street";
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  grid-gap: 20px;
}

.sunset {
  grid-area: sunset;
  width: 100%;
  object-fit: cover;
}

.ice-cream {
  grid-area: ice-cream;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tape {
  grid-area: tape;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.books {
  grid-area: books;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.street {
  grid-area: street;
  width: 100%;
  object-fit: cover;
}

.footer-zone {
  position: relative;
}

.footer-zone::before {
  top: 782px;
}

.footer-zone::after {
  top: 80px;
}

.footer-title {
  display: flex;
  justify-content: center;
  margin-block-start: 0;
  padding-block-start: 380px;
  padding-block-end: 322px;
  text-shadow: 2px 2px 0px var(--shadow-color);
}

@media (width <=768px) {

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    margin-inline-end: 20px;
    margin-block-start: 172px;
    inline-size: 100%;
  }

  .header-title {
    margin-block-start: 178px;
    font-size: 120px;
  }

  .decorated-zone {
    min-block-size: 1024px;
  }

  .decorated-zone::before {
    top: 980px;
  }

  .title-text {
    margin-block-start: 162px;
    margin-block-end: 183px;
    max-inline-size: 364px;
  }

  .concentration-title,
  .concentration-methods__title {
    max-inline-size: 236px;
  }

  .concentration-description,
  .container-methods {
    max-inline-size: 472px;
  }

  .container-concentration {
    display: flex;
    flex-direction: column;
  }

  .tape {
    min-block-size: 50px;
  }

  .footer-title {
    padding-block-start: 526px;
    padding-block-end: 462px;
  }

  .footer-zone::before {
    top: 1040px;
  }
}

@media (width <=425px) {

  .header__theme-menu-list {
    margin-inline-start: 380px;
    margin-inline-end: 22%;
    margin-block-start: 60px;
  }

  .concentration {
    display: flex;
    flex-direction: column;
    padding-inline-start: 10px;
  }

  .concentration-methods {
    display: flex;
    flex-direction: column;
  }

  .container-methods {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 20px;
  }
}

@media (width <=375px) {

  .decorated-zone {
    min-block-size: 668px;
  }

  .header__theme-menu-list {
    margin-inline-start: 380px;
    margin-inline-end: 25%;
    margin-block-start: 55px;
  }

  .title {
    margin-inline-start: 10px;
    margin-block-start: 72px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .title-text {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 56px;
    margin-block-end: 66px;
  }

  .decorated-zone::before {
    top: 632px;
    left: 10px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .header__theme-menu-pseudo::after {
    top: 12px;
    right: 14px;
  }

  .header__theme-menu-pseudo::before {
    top: 10px;
    right: 38px;
  }

  .concentration {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline-start: 10px;
    padding-block-start: 40px;
  }

  .concentration-title {
    margin-inline-start: 0;
    min-inline-size: 355px;
  }

  .concentration-description {
    margin-inline-end: 10px;
    margin-block-start: 0;
  }

  .concentration-reduces {
    padding-block-start: 50px;
    padding-block-end: 50px;
  }

  .concentration-reduces__title {
    margin-left: 10px;
  }

  .container-concentration {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }

  .concentration-methods {
    display: flex;
    flex-direction: column;
  }

  .concentration-methods__title {
    margin-inline-start: 10px;
  }

  .container-methods {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 20px;
  }

  .concentration-picture__title {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-end: 10px;
  }

  .concentration-picture {
    padding-block-start: 50px;
  }

  .container-picture {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "sunset"
      "ice-cream"
      "tape"
      "books"
      "street";
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    max-block-size: 1366px;
    grid-gap: 10px;
  }

  .tape {
    min-block-size: 237px;
  }

  .footer-title {
    margin-block-start: 14px;
    padding-block-start: 316px;
    padding-block-end: 292px;
  }

  .footer-zone::after {
    top: 38px;
    right: 10px;
  }

  .footer-zone::before {
    top: 658px;
    left: 10px;
  }
}